---
export const prerender = true;

import { getCollection } from 'astro:content';

import Main from '../../layouts/main.astro';
import Aside from '../../components/aside.astro';
import TagsList from '../../components/tags-list.astro';
import ProfileCard from '../../components/profile-card.astro';
import { formatDate } from '../../utils/format-date';
import { createExcerpt } from '../../utils/create-excerpt';

export async function getStaticPaths() {
  const articles = await getCollection('articles');

  return articles.map((article) => {
    return {
      params: {
        slug: article.slug,
      },
      props: {
        article,
      },
    };
  });
}

const {
  article,
  article: {
    slug,
    data: { title, author, tags, date, canonical },
  },
} = Astro.props;

const excerpt = `${createExcerpt(article.body).substring(0, 70)}...`;

const { Content } = await article.render();
---

<Main title={title} description={excerpt} slug={`/articles/${slug}/`} canonical={canonical}>
  <div class='flex flex-col sm:flex-row items-start sm:items-center justify-start sm:justify-between gap-2'>
    <time class='text-xs font-bold text-brand-primary'>{formatDate(date)}</time>
    <span class='text-xs font-bold text-brand-tertiary'>{`By ${author}`}</span>
  </div>
  <h1>{title}</h1>
  <TagsList tags={tags} />
  <Content />
  <Aside>
    <ProfileCard />
  </Aside>
</Main>
