---
export const prerender = true;

import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import { formatDate } from '../../utils/format-date';
import { createExcerpt } from '../../utils/create-excerpt';

import Main from '../../layouts/main.astro';

import Aside from '../../components/aside.astro';
import CtaExternal from '../../components/cta-external.astro';
import TagsList from '../../components/tags-list.astro';
import FeaturedImageCard from '../../components/featured-image-card.astro';
import TableOfContents from '../../components/table-of-contents.astro';
import Reactions from '../../components/reactions';
import ProfileCard from '../../components/profile-card.astro';
import AudioFeedEmbed from '../../components/audio-feed-embed.astro';

export async function getStaticPaths() {
  const articles = await getCollection('articles');

  return articles.map((article) => {
    return {
      params: {
        slug: article.slug,
      },
      props: {
        article,
      },
    };
  });
}

const {
  article,
  article: {
    slug,
    data: { base, title, author, logo, publication, url, tags, date, canonical, featuredImage, audioFeedId },
  },
} = Astro.props;

const excerpt = `${createExcerpt(article.body).substring(0, 70)}...`;

const { Content, headings } = await article.render();
---

<Main title={title} description={excerpt} slug={`/articles/${slug}/`} canonical={canonical} image={featuredImage}>
  <div class='flex flex-col sm:flex-row items-start sm:items-center justify-start sm:justify-between gap-2'>
    <div class='flex flex-col sm:flex-row gap-2 items-start sm:items-center'>
      <div class='flex items-center gap-2'>
        <Image width={24} height={24} alt={publication} src={logo} class='m-0' />
        <a class='text-xs text-brand-secondary nounderline' href={url} target='_blank' rel='noopener'>
          {publication}
        </a>
      </div>
      <span class='hidden sm:inline'>&bull;</span>
      <time class='text-xs font-bold text-brand-primary'>{formatDate(date)}</time>
    </div>
    <span class='text-xs font-bold text-brand-primary'>{`By ${author}`}</span>
  </div>
  <h1>{title}</h1>
  <TagsList tags={tags} link={true} />
  {audioFeedId ? <AudioFeedEmbed audioFeedId={audioFeedId} /> : null}

  <Content />
  <CtaExternal href={url}>{`Read on ${publication}`}</CtaExternal>
  {audioFeedId ? <Reactions slug={`/articles/${slug}/`} /> : null}
  <Aside>
    {
      featuredImage ? (
        <FeaturedImageCard
          alt={title}
          thumbnail={featuredImage}
          text={`${title}\n https://paulie.dev/articles/${slug}/`}
        />
      ) : (
        <ProfileCard />
      )
    }
    <TableOfContents headings={headings} />
  </Aside>
</Main>
