---
import { getCollection } from 'astro:content';

import Main from '../../layouts/main.astro';
import Aside from '../../components/aside.astro';
import FeaturedImageCard from '../../components/featured-image-card.astro';
import TableOfContents from '../../components/table-of-contents.astro';
import { formatDate } from '../../utils/format-date';

export const prerender = true;

export async function getStaticPaths() {
  const demos = await getCollection('demos');

  return demos.map((demo) => {
    return {
      params: {
        slug: demo.slug,
      },
      props: {
        demo,
      },
    };
  });
}

const {
  demo,
  demo: {
    slug,
    data: { title, date, featuredImage },
  },
} = Astro.props;

const { Content, headings } = await demo.render();
---

<Main title={title} description='' slug={`/demos/${slug}/`} image={featuredImage}>
  <time class='text-xs font-bold text-brand-primary'>{formatDate(date)}</time>
  <h1>{title}</h1>
  <Content />
  <Aside>
    <FeaturedImageCard alt={title} thumbnail={featuredImage} text={`${title}\n https://paulie.dev/demos/${slug}`} />
    <TableOfContents headings={headings} />
  </Aside>
</Main>
