---
export const prerender = true;

import Main from '../layouts/main.astro';

import Aside from '../components/aside.astro';
import ProfileCard from '../components/profile-card.astro';
import CollectionsList from '../components/collections-list.astro';
import CtaInternal from '../components/cta-internal.astro';

import ListExternalPublishers from '../components/list-external-publishers.astro';

import groupByPublication from '../utils/group-by-publication';

import { collections, demos, articles, posts, ghosts } from '../utils/all-collections';
---

<Main title='Home' description="Paul Scanlon's site" slug='/'>
  <strong class='text-sm text-brand-primary'>Home</strong>
  <h1 class='text-brand-text text-3xl sm:text-5xl mb-1'>Paul Scanlon</h1>
  <h2 class='text-brand-text font-semibold mt-1'>Technical Product Marketing Manager</h2>
  <p class='mb-16'>Developer for 20 years. I'm now Marketing at <a href='https://neon.tech/' target='_blank' rel='noopener'>Neon</a>.</p>

  <h2 class='mb-0 text-brand-salmon'>Latest Post</h2>
  <p>Latest post published here on my site.</p>
  <CollectionsList collections={posts} slice={3} />
  <CtaInternal href='/posts/'>{`See all ${posts.length} Posts`}</CtaInternal>

  <h2 class='m-0 uppercase'>Publishers</h2>
  <p class='mt-0 mb-4 text-slate-300'>All the publications I’ve contributed to.</p>
  <ListExternalPublishers data={groupByPublication(collections)} />
  <CtaInternal href='/dashboard/'>See more statistics</CtaInternal>

  <h2 class='mb-0 text-brand-salmon'>Latest Article</h2>
  <p>Latest articles written for external publisher.</p>
  <CollectionsList collections={articles} slice={3} />
  <CtaInternal href='/articles/'>{`See all ${articles.length} Articles`}</CtaInternal>

  <h2 class='mb-0 text-brand-salmon'>Latest Ghostwriting</h2>
  <p>Latest ghost-written article.</p>
  <CollectionsList collections={ghosts} slice={3} />
  <CtaInternal href='/ghosts/'>{`See all ${ghosts.length} Ghosts`}</CtaInternal>

  <Aside>
    <ProfileCard />
  </Aside>
</Main>
