---
import { octokit } from '../clients/octokit';

import Main from '../layouts/main.astro';
import Aside from '../components/aside.astro';
import ProfileCard from '../components/profile-card.astro';
import { getCollection } from 'astro:content';

const demos = await getCollection('demos');
const articles = await getCollection('articles');
const posts = await getCollection('posts');

import CollectionsList from '../components/collections-list.astro';
import GithubActivity from '../components/github-activity.astro';

let activity = null;

try {
  const response = await octokit.request('GET /users/{username}/events', {
    username: 'PaulieScanlon',
    per_page: 10,
  });

  if (!response.data) {
    throw new Error('Bad request');
  }

  activity = response.data;
} catch (error) {
  console.error(error);
}
---

<Main title='Home' description="Paul Scanlon's blog" slug='/'>
  <strong class='text-xs text-brand-primary'>Home</strong>
  <h1 class='text-brand-text text-3xl sm:text-5xl'>Paul Scanlon</h1>
  <p>Hey there! <span role='img' aria-label='waving hand emoji'>👋</span></p>
  <p>
    I'm Paul and a long long time ago I was a designer, but after a few years of pixel pushing I realized code is just
    better. I've held various positions in and around advertising, tech and web/application development in both full
    time, and contract positions since 2005.
  </p>
  <p>
    I once co-founded and ran an award winning digital production agency based in London called
    <a href='https://vimeo.com/109836047' target='_blank' rel='noopener'>Super natural</a>. I started the company from
    my kitchen and grew it to a team of 10. From 2012 to 2016 I was hands-on designer/developer, and Technical Director
    / CTO.
  </p>
  <p>
    I now work at <a href='https://bit.ly/paulie-neon' target='_blank' rel='noopener'>Neon</a>
  </p>
  <h2 class='mb-0 text-brand-salmon'>Latest Demos</h2>
  <p>Here's some bigger projects!</p>
  <CollectionsList collections={demos} base='/demos' slice={3} />
  <h2 class='mb-0 text-brand-salmon'>Latest Articles</h2>
  <p>Here's the latest articles I've written that have been published elsewhere.</p>
  <CollectionsList collections={articles} base='/articles' slice={3} />

  <h2 class='mb-0 text-brand-salmon'>Latest Posts</h2>
  <p>Here's the latest posts I've written and published here on my site.</p>
  <CollectionsList collections={posts} base='/posts' slice={3} />
  <Aside>
    <ProfileCard />
    {
      activity ? (
        <div>
          <h6 class='mb-0 text-base text-center leading-6 font-semibold uppercase text-brand-secondary'>
            GtiHub Activity
          </h6>
          <p class='mt-0 mb-4 text-slate-300 text-sm text-center'>
            Recent events for{' '}
            <a href='https://github.com/PaulieScanlon' target='_blank' rel='noreferrer'>
              @PaulieScanlon
            </a>
          </p>
          <GithubActivity data={activity} classNames='bg-transparent' />
        </div>
      ) : null
    }
  </Aside>
</Main>
