---
import { getCollection } from 'astro:content';

import Main from '../../layouts/main.astro';
import Aside from '../../components/aside.astro';
import FeaturedImageCard from '../../components/featured-image-card.astro';
import TableOfContents from '../../components/table-of-contents.astro';
import { formatDate } from '../../utils/format-date';

export const prerender = true;

export async function getStaticPaths() {
  const opensource = await getCollection('opensource');

  return opensource.map((open) => {
    return {
      params: {
        slug: open.slug,
      },
      props: {
        open,
      },
    };
  });
}

const {
  open,
  open: {
    slug,
    data: { title, date, featuredImage },
  },
} = Astro.props;

const { Content, headings } = await open.render();
---

<Main title={title} description='' slug={`/opensouce/${slug}/`}>
  <time class='text-xs font-bold text-brand-primary'>{formatDate(date)}</time>
  <h1>{title}</h1>
  <Content />
  <Aside>
    <FeaturedImageCard
      alt={title}
      thumbnail={featuredImage}
      text={`${title}\n https://paulie.dev/opensource/${slug}/`}
    />
    <TableOfContents headings={headings} />
  </Aside>
</Main>
