---
export const prerender = true;

import { getCollection } from 'astro:content';

import Main from '../../layouts/main.astro';
import Aside from '../../components/aside.astro';
import TagsList from '../../components/tags-list.astro';
import FeaturedImageCard from '../../components/featured-image-card.astro';
import TableOfContents from '../../components/table-of-contents.astro';
import { formatDate } from '../../utils/format-date';
import { createExcerpt } from '../../utils/create-excerpt';

export async function getStaticPaths() {
  const opensource = await getCollection('opensource');

  return opensource.map((open) => {
    return {
      params: {
        slug: open.slug,
      },
      props: {
        open,
      },
    };
  });
}

const {
  open,
  open: {
    slug,
    data: { title, author, date, tags, featuredImage },
  },
} = Astro.props;

const excerpt = `${createExcerpt(open.body).substring(0, 70)}...`;

const { Content, headings } = await open.render();
---

<Main title={title} description={excerpt} slug={`/opensource/${slug}/`}>
  <div class='flex flex-col sm:flex-row items-start sm:items-center justify-start sm:justify-between gap-2'>
    <time class='text-xs font-bold text-brand-primary'>{formatDate(date)}</time>
    <span class='text-xs font-bold text-brand-primary'>{`By ${author}`}</span>
  </div>
  <h1>{title}</h1>
  <TagsList tags={tags} link={true} />
  <Content />
  <Aside>
    <FeaturedImageCard
      alt={title}
      thumbnail={featuredImage}
      text={`${title}\n https://paulie.dev/opensource/${slug}/`}
    />
    <TableOfContents headings={headings} />
  </Aside>
</Main>
