---
import { Image } from 'astro:assets';

const { data } = Astro.props;

const listData = data.sort((a, b) => b.total - a.total);
---

<ol class='m-0 p-0 border rounded border-brand-outline bg-brand-surface px-4 py-2 md:columns-2 gap-16'>
  {
    listData.map((item, index) => {
      const { publication, logo, total } = item;

      const publisherPage = {
        Gatsby: 'https://www.gatsbyjs.com/contributors/paul-scanlon',
        'The New Stack': 'https://thenewstack.io/author/paulscanlon/',
        'Smashing Magazine': 'https://www.smashingmagazine.com/author/paul-scanlon/',
        'Cockroach Labs': null,
        Neon: null,
        SitePoint: 'https://www.sitepoint.com/author/pscanlon/',
        'CSS Tricks': null,
        Netlify: 'https://www.netlify.com/blog/authors/paulie-scanlon/',
        'Netlify Developers': null,
        Storybook: 'https://medium.com/@PaulieScanlon',
        Contentful: 'https://www.contentful.com/blog/author/paul-scanlon/',
        StackBlitz: 'https://blog.stackblitz.com/authors/paul-scanlon/',
      };

      return (
        <li class='m-0 p-0 flex items-center gap-4 border-b border-b-brand-outline last:border-b-transparent md:[&:nth-child(6n)]:border-b-transparent leading-[3rem]'>
          <div class='flex grow items-center gap-3'>
            <small class='flex shrink-0 items-center justify-center w-6 h-6 rounded-full font-bold leading-4 text-brand-salmon border-2 border-brand-salmon'>
              {index + 1}
            </small>
            <Image width={18} height={18} alt={publication} src={logo} class='m-0' />
            {publisherPage[publication] ? (
              <a href={publisherPage[publication]} target='_blank' rel='noopener' class='text-sm'>
                {publication}
              </a>
            ) : (
              <span class='text-sm'>{publication}</span>
            )}
          </div>
          <strong>{`x${total}`}</strong>
        </li>
      );
    })
  }
</ol>
