---
import EdgeAnalytics from '../components/edge-analytics.astro';

import Layout from './layout';

import '@fontsource/inconsolata/300.css';
import '@fontsource/inconsolata/400.css';
import '@fontsource/inconsolata/500.css';
import '@fontsource/inconsolata/700.css';
import '@fontsource/inconsolata/900.css';

const name = 'Paul Scanlon';
const siteUrl = 'https://paulie.dev';
const defaultImage = '/images/paulie-open-graph-image-2022.jpg';
const keywords = [
  'React',
  'Gatsby',
  'Qwik',
  'Astro',
  'Remix',
  'Next.js',
  'JavaScript',
  'TypeScript',
  'Flow',
  'Styled Components',
  'Theme UI',
  'Tailwind',
  'Jest',
  'Enzyme',
  'React Testing Libary',
  'Node.js',
  'Fauna',
  'Jamstack',
  'Component Library',
  'Serverless Functions',
  'Edge Functions',
  'SQL',
  'Postgres',
];

const { type, title, description, slug, image, tags, fullWidth = false, canonical } = Astro.props;

const htmlTitle = `${name} | ${title}`;
const linkCanonical = canonical ? canonical : `${siteUrl}${slug}`;
const ogImage = image ? image : `${siteUrl}${defaultImage}`;
const seoKeywords = tags ? tags : keywords;

const isProduction = import.meta.env.PROD;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />

    <title>{htmlTitle}</title>
    <link rel='canonical' href={linkCanonical} />

    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='description' content={description} />
    <meta name='image' content={ogImage} />
    <meta name='image:alt' content={description} />
    <meta name='keywords' content={seoKeywords.join(', ')} />

    <!-- Facebook -->
    <meta property='og:type' content={type} />
    <meta property='og:title' content={htmlTitle} />
    <meta property='og:url' content={`${siteUrl}${slug}`} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={ogImage} />
    <meta property='og:image:alt' content={description} />

    <!-- Twitter -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:title' content={htmlTitle} />
    <meta name='twitter:url' content={`${siteUrl}${slug}`} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={ogImage} />
    <meta name='twitter:image:alt' content={description} />

    <!-- Favicons -->
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' data-react-helmet='true' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' data-react-helmet='true' />

    <!-- Webmention -->
    <!-- <link rel='webmention' href='https://webmention.io/paulie.dev/webmention' /> -->
    <!-- <link rel='pingback' href='https://webmention.io/paulie.dev/xmlrpc' /> -->
    <link rel='webmention' href='https://webmention.io/www.paulie.dev/webmention' />
    <link rel='pingback' href='https://webmention.io/www.paulie.dev/xmlrpc' />

    <!-- Custom CSS -->
    <link href='/prism-dracula.css' rel='stylesheet' />

      <!-- Google tag (gtag.js) -->
      {
        isProduction ? (
          <script is:inline async src='https://www.googletagmanager.com/gtag/js?id=G-FMCW05VHZ2'></script>
          <script is:inline>
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag('js', new Date());
  
          gtag('config', 'G-FMCW05VHZ2');
          </script>
        ) : null
      }

      <!-- Edge Analytics -->
      {
        isProduction ? (
        <script is:inline async>
          setTimeout(function () {
            navigator.sendBeacon(
              '/api/page-view',
              JSON.stringify({ slug: window.location.pathname, referrer: document.referrer })
            );
          }, 10000);
        </script>
        ) : null
      }
  </head>
  <body class='prose max-w-none bg-brand-background'>
    <Layout fullWidth={fullWidth} slug={slug}>
      <slot />
    </Layout>
  </body>
</html>
