---
import Logo from '../components/logo.astro';
import NavLink from '../components/nav-link.astro';

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

const siteLinks = [
  {
    title: 'Home',
    slug: '/',
    icon: 'M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z',
  },
  {
    title: 'About',
    slug: '/about/',
    icon: 'M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z',
  },
  {
    title: 'Articles',
    slug: '/articles/',
    icon: 'M5.566 4.657A4.505 4.505 0 016.75 4.5h10.5c.41 0 .806.055 1.183.157A3 3 0 0015.75 3h-7.5a3 3 0 00-2.684 1.657zM2.25 12a3 3 0 013-3h13.5a3 3 0 013 3v6a3 3 0 01-3 3H5.25a3 3 0 01-3-3v-6zM5.25 7.5c-.41 0-.806.055-1.184.157A3 3 0 016.75 6h10.5a3 3 0 012.683 1.657A4.505 4.505 0 0018.75 7.5H5.25z',
  },
  {
    title: 'Demos',
    slug: '/demos/',
    icon: 'M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006',
  },
  {
    title: 'Open-source',
    slug: '/opensource/',
    icon: 'M11.25 5.337c0-.355-.186-.676-.401-.959a1.647 1.647 0 01-.349-1.003c0-1.036 1.007-1.875 2.25-1.875S15 2.34 15 3.375c0 .369-.128.713-.349 1.003-.215.283-.401.604-.401.959 0 .332.278.598.61.578 1.91-.114 3.79-.342 5.632-.676a.75.75 0 01.878.645 49.17 49.17 0 01.376 5.452.657.657 0 01-.66.664c-.354 0-.675-.186-.958-.401a1.647 1.647 0 00-1.003-.349c-1.035 0-1.875 1.007-1.875 2.25s.84 2.25 1.875 2.25c.369 0 .713-.128 1.003-.349.283-.215.604-.401.959-.401.31 0 .557.262.534.571a48.774 48.774 0 01-.595 4.845.75.75 0 01-.61.61c-1.82.317-3.673.533-5.555.642a.58.58 0 01-.611-.581c0-.355.186-.676.401-.959.221-.29.349-.634.349-1.003 0-1.035-1.007-1.875-2.25-1.875s-2.25.84-2.25 1.875c0 .369.128.713.349 1.003.215.283.401.604.401.959a.641.641 0 01-.658.643 49.118 49.118 0 01-4.708-.36.75.75 0 01-.645-.878c.293-1.614.504-3.257.629-4.924A.53.53 0 005.337 15c-.355 0-.676.186-.959.401-.29.221-.634.349-1.003.349-1.036 0-1.875-1.007-1.875-2.25s.84-2.25 1.875-2.25c.369 0 .713.128 1.003.349.283.215.604.401.959.401a.656.656 0 00.659-.663 47.703 47.703 0 00-.31-4.82.75.75 0 01.83-.832c1.343.155 2.703.254 4.077.294a.64.64 0 00.657-.642z',
  },
  {
    title: 'Posts',
    slug: '/posts/',
    icon: 'M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z',
  },
  {
    title: 'Streams',
    slug: '/streams/',
    icon: 'M4.5 4.5a3 3 0 00-3 3v9a3 3 0 003 3h8.25a3 3 0 003-3v-9a3 3 0 00-3-3H4.5zM19.94 18.75l-2.69-2.69V7.94l2.69-2.69c.944-.945 2.56-.276 2.56 1.06v11.38c0 1.336-1.616 2.005-2.56 1.06z',
  },
  {
    title: 'Dashboard',
    slug: '/dashboard/',
    icon: 'M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z',
  },
];

const socialLinks = [
  {
    url: 'https://x.com/PaulieScanlon',
    title: 'X',
    icon: 'M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z',
    rel: 'me',
  },
  {
    url: 'https://github.com/PaulieScanlon',
    title: 'GitHub',
    icon: 'M11.88,0.6C5.5,0.6,0.3,5.8,0.3,12.18c0,5.44,3.78,10.05,8.86,11.23c0-0.12-0.12-0.35-0.12-0.59V20.8c-0.47,0-1.3,0-1.42,0c-0.83,0-1.54-0.35-1.89-0.95c-0.35-0.71-0.47-1.77-1.42-2.48C4.08,17.14,4.2,16.9,4.55,16.9c0.59,0.12,1.06,0.59,1.54,1.18c0.47,0.59,0.71,0.71,1.54,0.71c0.47,0,1.06,0,1.65-0.12c0.35-0.83,0.83-1.54,1.54-1.89c-3.9-0.35-5.67-2.36-5.67-4.96c0-1.18,0.47-2.25,1.3-3.19c-0.35-0.59-0.71-2.48,0-3.19c1.77,0,2.84,1.18,3.07,1.42c0.83-0.35,1.77-0.47,2.84-0.47s2.01,0.12,2.84,0.47c0.24-0.35,1.3-1.42,3.07-1.42c0.71,0.71,0.35,2.6,0.12,3.55c0.83,0.95,1.3,2.01,1.3,3.07c0,2.6-1.89,4.49-5.67,4.96c1.06,0.59,1.89,2.13,1.89,3.31v2.6c0,0.12,0,0.12,0,0.24c4.49-1.54,7.8-5.91,7.8-10.99C23.46,5.8,18.26,0.6,11.88,0.6z',
    rel: 'me',
  },
  {
    url: 'https://linkedin.com/in/PaulieScanlon',
    title: 'LinkedIn',
    icon: 'M21.4,0.64H2.72c-1.14,0-2.02,0.88-2.02,2.02v18.55c0,1.26,0.88,2.15,2.02,2.15h18.55c1.14,0,2.02-0.88,2.02-2.02V2.66C23.42,1.52,22.53,0.64,21.4,0.64z M7.89,19.19H4.86V9.48h3.03C7.89,9.48,7.89,19.19,7.89,19.19z M6.38,8.09c-1.01,0-1.77-0.76-1.77-1.77s0.76-1.89,1.77-1.89s1.77,0.76,1.77,1.77S7.26,8.09,6.38,8.09z M19.25,19.19h-3.03v-4.67c0-1.14,0-2.65-1.64-2.65s-1.77,1.26-1.77,2.52v4.8H9.79V9.48h2.9v1.26l0,0c0.38-0.76,1.39-1.64,2.9-1.64c3.03,0,3.66,2.02,3.66,4.67C19.25,13.89,19.25,19.19,19.25,19.19z',
    rel: '',
  },
  {
    url: 'mailto:pauliescanlon@gmail.com',
    title: 'Email',
    icon: 'M2.35,3.18c-0.95,0-1.79,0.83-1.79,1.79v14.06c0,0.95,0.83,1.79,1.79,1.79h19.31c0.95,0,1.79-0.83,1.79-1.79V4.97c0-0.95-0.83-1.79-1.79-1.79h1.07H2.35z M4.73,4.97h14.54L12,10.33L4.73,4.97z M3.18,7.11L12,13.55l8.82-6.44v11.92H3.18V7.11z',
    rel: '',
  },
];

const { type, title, description, slug, image, tags } = Astro.props;

const name = 'Paul Scanlon';
const siteUrl = 'https://paulie.dev';
const defaultImage = '/images/paulie-open-graph-image-2022.jpg';
const keywords = [
  'React',
  'Gatsby',
  'JavaScript',
  'TypeScript',
  'Flow',
  'Styled Components',
  'Theme UI',
  'Tailwind',
  'Jest',
  'Enzyme',
  'React Testing Libary',
  'Node.js',
  'Fauna',
  'Jamstack',
  'Component Library',
  'Serverless Functions',
];

const htmlTitle = `${name} | ${title}`;
const ogImage = image ? image : defaultImage;
const seoKeywords = tags ? tags : keywords;
---

<script>
  var isNavOpen = false;
  const menu = document.querySelector('#menu');
  const lightbox = document.querySelector('#lightbox');
  const sidebar = document.querySelector('#sidebar');

  const lightboxOpen = 'fixed';
  const lightboxOpenLg = 'lg:hidden';
  const lightboxClosed = 'hidden';

  const sidebarResponsiveClosed = '-left-[240px]';
  const sidebarResponsiveOpen = 'left-[max(0px,calc(50%-45rem))]';

  const menuIcon = 'M4 6h16M4 12h16m-7 6h7';
  const closeIcon = 'M6 18L18 6M6 6l12 12';
  const path = document.querySelector('#path');

  path.setAttribute('d', menuIcon);
  sidebar.classList.add(sidebarResponsiveClosed);
  lightbox.classList.add(lightboxClosed);

  const handleNav = () => {
    if (isNavOpen) {
      path.setAttribute('d', menuIcon);
      lightbox.classList.remove(lightboxOpen, lightboxOpenLg);
      lightbox.classList.add(lightboxClosed);
      sidebar.classList.add(sidebarResponsiveClosed);

      isNavOpen = false;
    } else {
      path.setAttribute('d', closeIcon);
      lightbox.classList.remove(lightboxClosed);
      lightbox.classList.add(lightboxOpen, lightboxOpenLg);
      sidebar.classList.remove(sidebarResponsiveClosed);
      sidebar.classList.add(sidebarResponsiveOpen);

      isNavOpen = true;
    }
  };

  menu.addEventListener('click', handleNav);
  lightbox.addEventListener('click', handleNav);
</script>

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link href='/prism-dracula.css' rel='stylesheet' />

    <title>{htmlTitle}</title>
    <link rel='canonical' href={`${siteUrl}${slug}`} />
    <meta name='description' content={description} />
    <meta name='image' content={`${siteUrl}${ogImage}`} />
    <meta name='image:alt' content={description} />
    <meta name='keywords' content={seoKeywords.join(', ')} />
    <!-- Facebook -->
    <meta property='og:type' content={type} />
    <meta property='og:title' content={htmlTitle} />
    <meta property='og:url' content={`${siteUrl}${slug}`} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={`${siteUrl}${ogImage}`} />
    <meta property='og:image:alt' content={description} />

    <!-- Twitter -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:title' content={htmlTitle} />
    <meta name='twitter:url' content={`${siteUrl}${slug}`} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={`${siteUrl}${ogImage}`} />
    <meta name='twitter:image:alt' content={description} />

    <!-- Favicons -->
    <link rel='icon' type='image/x-icon' href='/images/favicon.ico' />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/images/favicon-16x16.png'
      data-react-helmet='true'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/images/favicon-32x32.png'
      data-react-helmet='true'
    />

    <!-- Web mention -->
    <link rel='webmention' href='https://webmention.io/paulie.dev/webmention' />
    <link rel='pingback' href='https://webmention.io/paulie.dev/xmlrpc' />

    <!-- <style type='text/css'>
      lite-youtube {
        border: 1px solid red !important;
      }
    </style> -->
  </head>
  <body class='prose max-w-none bg-brand-background'>
    <header
      class='sticky top-0 z-40 w-full backdrop-blur border-b border-b-brand-outline flex-none bg-brand-background lg:bg-transparent'
    >
      <div class='max-w-8xl mx-auto'>
        <div class='py-4 mx-4 lg:px-8 lg:mx-0'>
          <div class='relative flex items-center'>
            <a class='flex items-center' href='/' aria-current='page'>
              <span class='sr-only'>Paul Scanlon's Site</span>
              <Logo />
            </a>
            <div class='relative flex lg:hidden items-center ml-auto'>
              <button
                id='menu'
                class='not-prose ml-auto flex items-center justify-center text-brand-text'
              >
                <span class='sr-only'>Navigation</span>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  class='h-6 w-6'
                  fill='none'
                  viewBox='0 0 24 24'
                  stroke='currentColor'
                >
                  <path
                    id='path'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    stroke-width='2'
                  >
                  </path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class='relative'>
      <div
        id='lightbox'
        aria-label='lightbox'
        tab-index='0'
        role='button'
        class='z-20 top-0 left-0 w-screen h-screen bg-black opacity-80'
      >
      </div>

      <div class='max-w-8xl mx-auto px-4 sm:px-6 md:px-8'>
        <div
          id='sidebar'
          class='lg:block fixed z-30 inset-0 top-[3.8125rem] transition-all duration-300 right-auto w-[14.5rem] pb-10 px-6 overflow-y-auto border-r border-r-brand-outline bg-brand-background lg:left-[max(0px,calc(50%-45rem))]'
        >
          <div class='pt-10 pb-4'></div>
          <div class='relative'>
            <ul class='flex flex-col gap-2 m-0 p-0'>
              {
                siteLinks.map((item) => {
                  const { title, icon, slug } = item;
                  const isActive = `/${currentPath}` === slug;
                  return (
                    <li class='m-0 p-0 list-none'>
                      <NavLink
                        title={title}
                        icon={icon}
                        slug={slug}
                        isActive={isActive}
                      />
                    </li>
                  );
                })
              }
            </ul>
            <hr class='border border-brand-outline my-8' />
            <ul class='flex flex-col gap-2 m-0 p-0'>
              {
                socialLinks.map((item) => {
                  const { url, title, icon, rel } = item;
                  return (
                    <li class='m-0 p-0 list-none'>
                      <a
                        href={url}
                        target='_blank'
                        rel={`noreferrer ${rel}`}
                        class='not-prose inline-flex items-center gap-3 rounded-full px-3 py-2 border-transparent hover:bg-brand-surface border hover:border-brand-outline transition-colors duration-300 text-slate-400 hover:text-brand-text'
                      >
                        <svg
                          xmlns='http://www.w3.org/2000/svg'
                          class='h-4 w-4'
                          fill='currentColor'
                          viewBox='0 0 24 24'
                        >
                          <path
                            stroke-linecap='round'
                            stroke-linejoin='round'
                            d={icon}
                          />
                        </svg>
                        {title}
                      </a>
                    </li>
                  );
                })
              }
            </ul>
          </div>
        </div>
        <main class='lg:pl-[14.5rem] pb-16'>
          <section
            class='mx-auto pt-6 max-w-none xl:ml-0 xl:mr-[15.5rem] xl:pr-16'
          >
            <article class='max-w-none min-h-[calc(100vh-19rem)]'>
              <slot />
            </article>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
